.App{
  display: flex;
  height: 100vh;
  width: 100%;
}
.Header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header > *{
  margin: .5rem;
}
.scale-img{
  width: 200px;
  height: 200px;
}
.divider{
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.575);
}