.App{
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: rgb(242, 240, 240);
}
.Header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header > *{
  margin: .5rem;
}
.scale-img{
  width: 200px;
  height: 200px;
}
.divider{
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.575);
}
.submit-btn{
  border: none;
  background-color: rgb(231, 170, 55);
  color: white;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: transform 0.3s ease-in-out;

}
.submit-btn:hover{
  background-color: rgb(217, 132, 42);
  transform: scale(1.03);
}
form{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;


}
.height-input label, .weight-input label{
margin-right: 2rem;
}
input{
  width: 500px;
  height: 2.5rem;
  border: 2px solid rgba(128, 128, 128, 0.748);
  border-radius: 5px;
  padding: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.results-wrapper{
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.259);
  border-radius: 5px;
  margin: 1rem;
}
.display-results, .display-headers{
display: flex;
gap: 2rem;
}
.display-results{
  background-color: rgb(196, 196, 196);
}
.evaluation{
  
}
.bmi-text, .bmi-result{
border-right: 2px solid rgba(0, 0, 0, 0.259);
width: 3rem;
height: 3rem;
;
  
}
.result-text, .bmi-text, .bmi-result, .evaluation{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.result-text, .evaluation{
  padding-right: 1rem;
}